#sentence1 {
    font-family: Arial, sans-serif;
    color: #FFD700;
    text-align:center;
    font-size:50px;
}

#sentence2 {
    font-family: Lato, sans-serif;
    color: lightblue;
    text-align:center;
    font-size:50px;
}
#sentence3 {
    font-family: Arial, sans-serif;
    color: #6c6c6a;
    text-align:center;
    font-size:40px;
}
#sentence4 {
    font-family: Arial, sans-serif;
    color: #ed0d0d;
    text-align:center;
    font-size:40px;
}
#sentence5 {
    font-family: Arial, sans-serif;
    color: #FFD700;
    text-align:center;
    font-size:40px;
}
#sentence6 {
    font-family: Arial, sans-serif;
    color: #FFD700;
    text-align:center;
    font-size:40px;
}
#sentence7 {
    font-family: Arial, sans-serif;
    color: #FFD700;
    text-align:center;
    font-size:40px;
}
#sentence8 {
    font-family: Arial, sans-serif;
    color: #FFD700;
    text-align:center;
    font-size:40px;
}
#sentence9 {
    font-family: Arial, sans-serif;
    color: #002fff;
    text-align:center;
    font-size:40px;
}
#sentence10 {
    font-family: Arial, sans-serif;
    color: #f50c0c;
    text-align:center;
    font-size:40px;
}
#sentence11 {
    font-family: Arial, sans-serif;
    color: #043dd9;
    text-align:center;
    font-size:40px;
}
#sentence12 {
    font-family: Arial, sans-serif;
    color: #043dd9;
    text-align:center;
    font-size:40px;
}
#sentence13 {
    font-family: Arial, sans-serif;
    color: #3b5fdf;
    text-align:center;
    font-size:45px;
}
#conclusion {
    font-family: Arial, sans-serif;
    color: #FFD700;
    text-align:center;
    font-size:45px;
}
#conclusion1 {
    font-family: Arial, sans-serif;
    color: #4dc66b;
    font-size:25px;
}
table {
    background-color: rgba(237, 175, 69, 0.707);
    color: rgb(255, 255, 255);
    width: 100%;
  }
  table tr:nth-child(even) {
    background-color: #f2f2f2;
  }
table td{
    color:rgba(102, 60, 102, 0.692);
    font-size:25px;
}  
/* styles.css */
  @media screen and (max-width: 768px) {
    table {
      width: 100%;
    }
  }
  
  @media screen and (min-width: 769px) and (max-width: 1024px) {
    table {
      width: 80%;
    }
  }
  
  @media screen and (min-width: 1025px) {
    table {
      width: 60%;
    }
  }
